@import "colors.sass"

.image-borders img 
    border: solid
    border-width: 2px
    border-color: rgba(122, 122, 122, 0.2)

.center-images img
    display: block !important
    margin-left: auto !important
    margin-right: auto !important
